<%- include('./fragments/header.ejs') %>
<main>
        <h2><%= __('main-page.content')%></h2>
        <p><%= __('main-page.description')%></p>
	   <img id="photo" src="images/banner.jpg" alt="Turniej Wimbledon">
	<p><%= __('main-page.details')%></p>
</main>
    <%- include('./fragments/footer.ejs') %>
