<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Zawodnik - szczegóły</h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="id" value="<%= player.id %>">

    <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= player.firstName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

        <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= player.lastName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

<label for="birthDate">Data urodzenia:<abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="birthDate" id="birthDate" placeholder="dd.mm.yyyy" value="<%= player.birthDate.toISOString().split('T')[0]  %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

<label for="country">Kraj:<abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="country" id="country" placeholder="2-60 znaków" value="<%= player.country %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

</form>

        <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/players/edit/<%= player.id %>" class="button-add">Edytuj</a>
            </div>
        <% } %>

        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            <h2>Lista meczy zawodnika</h2>

            <table id="mecze" class="table-list">
                <thead>
                <tr>
                    <th>Rywal</th>
                    <th>Data</th>
                    <th>Zwycięzca</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <% for (let m of player.matches) { %>
                    <tr>
                        <td><%= m.rival %></td>
                        <td><%= m.date.toISOString().split('T')[0] %></td>
                        <td><%= m.winner%></td>
                        <td>

                            <ul class="list-actions" >
                                <li><a href="/matches/details/<%=m.id%>" class="list-actions-button-details">Szczegóły</a></li>
                                <li><a href="/matches/edit/<%=m.id%>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/matches/delete/<%=m.id%>" class="list-actions-button-delete">Usuń</a></li>
                            </ul>
                        </td>

                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } %>


	 <h2>Lista trenerów</h2>
	<table id="trenerzy" class="table-list">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Kraj pochodzenia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let coach of player.coaches) { %>
            <tr>
                <td><%= coach.firstName %></td>
                <td><%= coach.lastName %></td>
                <td><%= coach.country %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/coaches/details/<%=coach.id%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/coaches/edit/<%=coach.id%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/coaches/delete/<%=coach.id%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
        </table>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/players">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/players">Powrót</a>
            <% } %>
        </div>

    </main>
    <%- include('../../fragments/footer.ejs') %>


