<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('player.form.add.details')%></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="id" value="<%= player.id %>">

    <label for="firstName"><%= __('player.fields.firstName') %><abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="firstName" id="firstName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.firstName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

        <label for="lastName"><%= __('player.fields.lastName') %><abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.lastName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

<label for="birthDate"><%= __('player.fields.birthDate') %><abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="birthDate" id="birthDate" placeholder="yyyy-mm-dd" value="<%= player.birthDate%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

<label for="country"><%= __('player.fields.country') %><abbr title="required" aria-label="required">*</abbr></label>
    <input type="text" name="country" id="country" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.country %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

            <label for="email"><%= __('player.fields.email') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text"
                   name="email" id="email" placeholder="<%= __('validationMessage.changeEmail') %>" value="<%= player.email %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span></span>

</form>

        <% if (formMode == 'showDetails') { %>
            <% if(loggedUser && loggedUser.id== player.id || loggedUser.level==2) { %>

            <div class="section-buttons">
                <a href="/players/edit/<%= player.id %>" class="button-add"><%= __('form.actions.edit') %></a>
            </div>
            <% } %>
        <% } %>

        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            <h2><%= __('player.form.matches') %></h2>

            <table id="mecze" class="table-list">
                <thead>
                <tr>
                    <th><%= __('match.fields.rival')%></th>
                    <th><%= __('match.fields.date')%></th>
                    <th><%= __('match.fields.winner')%></th>
                    <th><%= __('list.actions.title')%></th>
                </tr>
                </thead>
                <tbody>
                <% for (let m of player.matches) { %>
                    <tr>
                        <td><%= m.rival %></td>
                        <td><%= m.date%></td>
                        <td><%= m.winner%></td>
                        <td>

                            <ul class="list-actions" >
                                <li><a href="/matches/details/<%=m.id%>" class="list-actions-button-details"><%= __('list.actions.details')%></a></li>
                                <% if(loggedUser && (loggedUser.id== m.idPlayer1 || loggedUser.id== m.idPlayer2 || loggedUser.level==2)) { %>
                                <li><a href="/matches/edit/<%=m.id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a></li>
                                <% } %>
                                <% if(loggedUser && (loggedUser.id== m.idPlayer1 || loggedUser.id== m.idPlayer2 || loggedUser.level==2)) { %>
                                <li><a href="/matches/delete/<%=m.id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a></li>
                                <% } %>
                            </ul>
                        </td>

                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } %>


	 <h2><%= __('coach.list.pageTitle')%></h2>
	<table id="trenerzy" class="table-list">
        <thead>
        <tr>
            <th><%= __('coach.fields.firstName') %></th>
            <th><%= __('coach.fields.lastName') %></th>
            <th><%= __('coach.fields.country') %></th>
            <th><%= __('list.actions.title')%></th>
        </tr>
        </thead>
        <tbody>
        <% for (let coach of player.coaches) { %>
            <tr>
                <td><%= coach.firstName %></td>
                <td><%= coach.lastName %></td>
                <td><%= coach.country %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/coaches/details/<%=coach.id%>" class="list-actions-button-details"><%= __('list.actions.details')%></a></li>
                        <% if(loggedUser && (loggedUser.id== coach.idPlayer || loggedUser.level==2)) { %>
                        <li><a href="/coaches/edit/<%=coach.id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a></li>
                        <% } %>
                        <% if(loggedUser && (loggedUser.id== coach.idPlayer || loggedUser.level==2)) { %>
                        <li><a href="/coaches/delete/<%=coach.id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a></li>
                        <% } %>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
        </table>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/players"><%= __('form.actions.cancel') %></a>
            <% } else { %>
                <a class="form-button-cancel" href="/players"><%= __('form.actions.return') %></a>
            <% } %>
        </div>

    </main>
    <%- include('../../fragments/footer.ejs') %>


