<%- include('../../fragments/header.ejs') %>
<div id="text-banner">
    <% if(banner=="add") { %>
        <div class="container"><h2><%= __('player.new')%></h2></div>
    <% } %>
    <% if(banner=="delete") { %>
        <div class="container"><h2><%= __('player.delete')%></h2></div>
    <% } %>
    <% if(banner=="update") { %>
        <div class="container"><h2><%= __('player.update')%></h2></div>
    <% } %>
</div>
<main>
        <h2><%= __('player.list.pageTitle')%></h2>
	<table id="zawodnicy" class="table-list">
    		<thead>
    		<tr>
        		<th><%= __('player.fields.firstName') %></th>
        		<th><%= __('player.fields.lastName')%></th>
                <th><%= __('player.fields.country')%></th>
                <th><%= __('list.actions.title')%></th>
    		</tr>
		</thead>
		<tbody>
    <% for (let player of players) { %>
        <tr>
            <td><%= player.firstName %></td>
            <td><%= player.lastName %></td>
            <td><%= player.country %></td>
            <td>
                <ul class="list-actions">
                    <li><a href="/players/details/<%=player.id%>" class="list-actions-button-details"><%= __('list.actions.details')%></a></li>
                    <% if(loggedUser && (loggedUser.id== player.id || loggedUser.level==2)) { %>
                    <li><a href="/players/edit/<%=player.id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a></li>
                    <% } %>
                    <% if(loggedUser && (loggedUser.id== player.id|| loggedUser.level==2)) { %>
                    <li><a href="/players/delete/<%=player.id%>" class="list-actions-button-delete"><%= __('list.actions.delete')%></a></li>
                    <% } %>
                </ul>
            </td>
        </tr>
    <% } %>
</tbody>
	</table>
        <% if(loggedUser) { %>
        <p><a class="button-add" href="/players/add"><%= __('player.list.addNew')%></a></p>
        <% } %>
    </main>
    <%- include('../../fragments/footer.ejs') %>

