<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('player.form.add.pageTitle')%></h2>
        <script type="application/javascript" src="/js/validationPlayerForm.js"></script>
        <script type="application/javascript" src="/js/validationCommon.js"></script>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <div style="display: none">
                <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
                <span id="errorMessage-dateFormat"><%= __('validationMessage.dateFormat') %></span>
                <span id="errorMessage-mailFormat"><%= __('validationMessage.mailFormat') %></span>
                <span id="errorMessage-futureDate"><%= __('validationMessage.futureDate') %></span>
                <span id="errorMessage-form"><%= __('validationMessage.form') %></span>
                <span id="errorMessage-charsUniversal"><%= __('validationMessage.charsUniversal') %></span>
                <span id="errorMessage-signs"><%= __('validationMessage.signs') %></span>
                <span id="errorMessage-notNumber"><%= __('validationMessage.notNumber') %></span>
                <span id="errorMessage-minimalAge"><%= __('validationMessage.minimalAge') %></span>
                <span id="errorMessage-repeatPassword"><%= __('validationMessage.repeatPassword') %></span>

            </div>

            <input type="hidden" name="id" value="<%= player.id %>">

            <label for="firstName"><%= __('player.fields.firstName')%>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text"
                   class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"
                   name="firstName" id="firstName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.firstName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span id="errorFirstName" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                        <%= validationErrors.find(e => e.path.includes('firstName')).message %>
                <% } %>
            </span>

            <label for="lastName"><%= __('player.fields.lastName')%>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text"
                   class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"
                   name="lastName" id="lastName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.lastName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span id="errorLastName" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                        <%= validationErrors.find(e => e.path.includes('lastName')).message %>
                <% } %>
            </span>

            <label for="birthDate"><%= __('player.fields.birthDate') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date"
                   class="<%= validationErrors.find(e => e.path.includes('birthDate')) ? 'error-input' : '' %>"
                   name="birthDate" id="birthDate" placeholder="yyyy-mm-dd" value="<%= player.birthDate%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDate" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('birthDate'))) { %>
                        <%= validationErrors.find(e => e.path.includes('birthDate')).message %>
                <% } %>
            </span>

            <label for="country"><%= __('player.fields.country') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text"
                   class="<%= validationErrors.find(e => e.path.includes('country')) ? 'error-input' : '' %>"
                   name="country" id="country" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= player.country %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorCountry" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('country'))) { %>
                        <%= validationErrors.find(e => e.path.includes('country')).message %>
                    <% } %>
            </span>

            <label for="email"><%= __('player.fields.email') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="email"
                   class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
                   name="email" id="email" placeholder="2-100 <%= __('validationMessage.signs') %>" value="<%= player.email %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span id="errorEmail" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                    <%= validationErrors.find(e => e.path.includes('email')).message %>
                <% } %>
            </span>
            <label for="password"><%= __('player.fields.password') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="password"
                   class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>"
                   name="password" id="password" placeholder="2-100 <%= __('validationMessage.signs') %>" value="<%= player.password %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span id="errorPassword" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                    <%= validationErrors.find(e => e.path.includes('password')).message %>
                <% } %>
            </span>

            <label for="repeatPassword"><%= __('player.fields.repeatPassword') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="password"
                   class="<%= validationErrors.find(e => e.path.includes('repeatPassword')) ? 'error-input' : '' %>"
                   name="repeatPassword" placeholder="2-100 <%= __('validationMessage.signs') %>" value="<%= player.password %>"
                   id="repeatPassword"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

            <span id="errorRepeatPassword" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('repeatPassword'))) { %>
                    <%= validationErrors.find(e => e.path.includes('repeatPassword')).message %>
                <% } %>
            </span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/players"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/players"><%= __('form.actions.return') %></a>
                <% } %>
            </div>

        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>