<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Nowy zawodnik</h2>
        <script type="application/javascript" src="/js/validationPlayerForm.js"></script>
        <script type="application/javascript" src="/js/validationCommon.js"></script>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="id" value="<%= player.id %>">
            <label for="firstName">Imię:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= player.firstName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorFirstName" class="errors-text"></span>

            <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= player.lastName %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorLastName" class="errors-text"></span>

            <label for="birthDate">Data urodzenia:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="birthDate" id="birthDate" placeholder="dd.mm.yyyy" value="<%= player.birthDate%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDate" class="errors-text"></span>

            <label for="country">Kraj:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="country" id="country" placeholder="2-60 znaków" value="<%= player.country %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorCountry" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/players">Anuluj</a>
                <% } else { %>
                    <a class="form-button-cancel" href="/players">Powrót</a>
                <% } %>
            </div>

        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>