<%- include('../../fragments/header.ejs') %>
    <main>
		<h2><%= __('coach.form.edit.pageTitle')%></h2>
		<script type="application/javascript" src="/js/validationCoachForm.js"></script>
		<script type="application/javascript" src="/js/validationCommon.js"></script>

		<form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm()">
			<div style="display: none">
				<span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
				<span id="errorMessage-form"><%= __('validationMessage.form') %></span>
				<span id="errorMessage-charsUniversal"><%= __('validationMessage.charsUniversal') %></span>
				<span id="errorMessage-signs"><%= __('validationMessage.signs') %></span>
				<span id="errorMessage-notNumber"><%= __('validationMessage.notNumber') %></span>
			</div>

			<input type="hidden" name="id" value="<%= coach.id %>">

			<label for="firstName"><%= __('coach.fields.firstName') %>:<abbr title="required" aria-label="required">*</abbr></label>
			<input type="text" class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"
				   name="firstName" id="firstName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= coach.firstName %>"
					<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id="errorFirstName" class="errors-text">
				<% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
					<%= validationErrors.find(e => e.path.includes('firstName')).message %>
				<% } %>
			</span>

			<label for="lastName"><%= __('coach.fields.lastName') %>:<abbr title="required" aria-label="required">*</abbr></label>
			<input type="text" class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"
				   name="lastName" id="lastName" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= coach.lastName %>"
					<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id="errorLastName" class="errors-text">
				<% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
					<%= validationErrors.find(e => e.path.includes('lastName')).message %>
				<% } %>
			</span>

			<label for="country"><%= __('coach.fields.country') %>:</label>
			<input type="text" class="<%= validationErrors.find(e => e.path.includes('country')) ? 'error-input' : '' %>"
				   name="country" id="country" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= coach.country %>"
					<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id="errorCountry" class="errors-text">
				<% if (validationErrors.find(e => e.path.includes('country'))) { %>
					<%= validationErrors.find(e => e.path.includes('country')).message %>
				<% } %>
			</span>

			<label for="idPlayer"><%= __('coach.fields.player') %>:<abbr title="required" aria-label="required">*</abbr></label>
			<select id="idPlayer" class="<%= validationErrors.find(e => e.path.includes('idPlayer')) ? 'error-input' : '' %>"
					name="idPlayer" <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
				<option value="" disabled selected><%= __('validationMessage.player') %></option>
				<% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
				<option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
						<%= (coach.idPlayer && pl.id.toString() == coach.idPlayer.toString()) ? 'selected' : ''%>></option>
				<% } %>
			</select>
			<span id="errorPlayer" class="errors-text">
				<% if (validationErrors.find(e => e.path.includes('idPlayer'))) { %>
					<%= validationErrors.find(e => e.path.includes('idPlayer')).message %>
				<% } %>
			</span>

			<div class="form-buttons">
				<p id="errorsSummary" class="errors-text"></p>
				<% if (formMode != 'showDetails') { %>
				<input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
				<a class="form-button-cancel" href="/coaches"><%= __('form.actions.cancel') %></a>
				<% } else { %>
					<a class="form-button-cancel" href="/coaches"><%= __('form.actions.return') %></a>
				<% } %>
			</div>

</form>
    </main>
    <%- include('../../fragments/footer.ejs') %>






