<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Mecz - edytuj szczegóły</h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="id" value="<%= match.id %>">

            <label for="player">Zawodnik:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="player" name="idPlayer1" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" selected>--- Przypisz zawodnika ---</option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idPlayer1.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span></span>

            <label for="rival">Rywal:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="rival" name="idPlayer2" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" selected>--- Przypisz rywala ---</option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idPlayer2.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span></span>

            <label for="score1">Wynik zawodnika:</label>
            <input type="text" name="scorePlayer1" id="score1" placeholder="2-60 znaków" value="<%= match.scorePlayer %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

            <label for="score2">Wynik rywala:</label>
            <input type="text" name="scorePlayer2" id="score2" placeholder="2-60 znaków" value="<%= match.scoreRival %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

            <label for="date">Data:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="date" id="date" placeholder="2-60 znaków" value="<%= match.date.toISOString().split('T')[0]%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

            <label for="court">Kort:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="court" id="court" placeholder="2-60 znaków" value="<%= match.court %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>


            <label for="roundNumber">Nr rundy:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="roundNumber" id="roundNumber" placeholder="1-7" value="<%= match.roundNumber %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span></span>

            <label for="winner">Zwycięzca:</label>
            <select id="winner" name="idWinner" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" selected>--- Przypisz zwycięzcę ---</option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idWinner.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/matches">Anuluj</a>
                <% } else { %>
                    <a class="form-button-cancel" href="/matches">Powrót</a>
                <% } %>
            </div>
</form>

    </main>
    <%- include('../../fragments/footer.ejs') %>





