<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('match.form.edit.pageTitle')%></h2>
        <script type="application/javascript" src="/js/validationMatchForm.js"></script>
        <script type="application/javascript" src="/js/validationCommon.js"></script>


        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm()">
            <div style="display: none">
                <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
                <span id="errorMessage-number"><%= __('validationMessage.number') %></span>
                <span id="errorMessage-form"><%= __('validationMessage.form') %></span>
                <span id="errorMessage-charsUniversal"><%= __('validationMessage.charsUniversal') %></span>
                <span id="errorMessage-signs"><%= __('validationMessage.signs') %></span>
                <span id="errorMessage-dateFormat"><%= __('validationMessage.dateFormat') %></span>
                <span id="errorMessage-extent"><%= __('validationMessage.extent') %></span>
                <span id="errorMessage-wrongScoreFormat"><%= __('validationMessage.wrongScoreFormat') %></span>
                <span id="errorMessage-notNumber"><%= __('validationMessage.notNumber') %></span>
            </div>
            <input type="hidden" name="id" value="<%= match.id %>">

            <label for="player"><%= __('match.fields.player') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="player" class="<%= validationErrors.find(e => e.path.includes('idPlayer1')) ? 'error-input' : '' %>"
                    name="idPlayer1" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" disabled selected><%= __('validationMessage.player') %></option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idPlayer1.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorPlayer1" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('country'))) { %>
                    <%= validationErrors.find(e => e.path.includes('country')).message %>
                <% } %>
            </span>

            <label for="rival"><%= __('match.fields.rival') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="rival" class="<%= validationErrors.find(e => e.path.includes('idPlayer2')) ? 'error-input' : '' %>"
                    name="idPlayer2" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" disabled selected><%= __('validationMessage.rival') %></option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idPlayer2.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorPlayer2" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('errorPlayer2'))) { %>
                    <%= validationErrors.find(e => e.path.includes('errorPlayer2')).message %>
                <% } %>
            </span>

            <label for="scorePlayer1"><%= __('match.fields.scorePlayer') %>:</label>
            <input type="text" class="<%= validationErrors.find(e => e.path.includes('scorePlayer1')) ? 'error-input' : '' %>"
                   name="scorePlayer1" id="scorePlayer1" placeholder="<%= __('validationMessage.score') %>" value="<%= match.scorePlayer1 %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorScore1" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('scorePlayer1'))) { %>
                    <%= validationErrors.find(e => e.path.includes('scorePlayer1')).message %>
                <% } %>
            </span>

            <label for="scorePlayer2"><%= __('match.fields.scoreRival') %>:</label>
            <input type="text" class="<%= validationErrors.find(e => e.path.includes('scorePlayer2')) ? 'error-input' : '' %>"
                   name="scorePlayer2" id="scorePlayer2" placeholder="<%= __('validationMessage.score') %>" value="<%= match.scorePlayer2 %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorScore2" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('scorePlayer2'))) { %>
                    <%= validationErrors.find(e => e.path.includes('scorePlayer2')).message %>
                <% } %>
            </span>

            <label for="date"><%= __('match.fields.date') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" class="<%= validationErrors.find(e => e.path.includes('date')) ? 'error-input' : '' %>"
                   name="date" id="date" placeholder="yyyy-mm-dd" value="<%= match.date%>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDate" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('date'))) { %>
                    <%= validationErrors.find(e => e.path.includes('date')).message %>
                <% } %>
            </span>

            <label for="court"><%= __('match.fields.court') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" class="<%= validationErrors.find(e => e.path.includes('court')) ? 'error-input' : '' %>"
                   name="court" id="court" placeholder="2-60 <%= __('validationMessage.signs') %>" value="<%= match.court %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorPlace" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('court'))) { %>
                    <%= validationErrors.find(e => e.path.includes('court')).message %>
                <% } %>
            </span>


            <label for="roundNumber"><%= __('match.fields.round') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" max="7" min="1" class="<%= validationErrors.find(e => e.path.includes('roundNumber')) ? 'error-input' : '' %>"
                   name="roundNumber" id="roundNumber" placeholder="1-7" value="<%= match.roundNumber %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorRound" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('roundNumber'))) { %>
                    <%= validationErrors.find(e => e.path.includes('roundNumber')).message %>
                <% } %>
            </span>

            <label for="winner"><%= __('match.fields.winner') %>:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="winner" class="<%= validationErrors.find(e => e.path.includes('idWinner')) ? 'error-input' : '' %>"
                    name="idWinner" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                <option value="" disabled selected><%= __('validationMessage.winner') %></option>
                <% for (let i=0; i<allPlayers.length; i++) { let pl = allPlayers[i]; %>
                <option value="<%= pl.id %>" label="<%= pl.firstName + ' ' + pl.lastName %>"
                        <%= (match.id && pl.id.toString() == match.idWinner.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorWinner" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('idWinner'))) { %>
                    <%= validationErrors.find(e => e.path.includes('idWinner')).message %>
                <% } %>
            </span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/matches"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/matches"><%= __('form.actions.return') %></a>
                <% } %>
            </div>

        </form>
        <script>
            let player= document.getElementById("player");
            let rival = document.getElementById("rival");
            let winner = document.getElementById("winner");
            analysePlayerSelection();
            analyseRivalSelection();

            player.addEventListener('change', () =>{
                analysePlayerSelection();
                analyseWinnerSelection();
            });
            rival.addEventListener('change', () =>{
                analyseRivalSelection();
                analyseWinnerSelection();
            });

            analyseWinnerSelection();


            function analysePlayerSelection(e) {
                for (i = 0; i < rival.options.length; i++) {
                    if(player.value ==rival.options[i].value){
                        rival.options[i].disabled=true;
                        winner.options[i].disabled=false;
                    }else{
                        rival.options[i].disabled=false;
                    }
                }
            }

            function analyseRivalSelection(e) {
                for (i = 0; i < player.options.length; i++) {
                    if(rival.value ==player.options[i].value){
                        player.options[i].disabled=true;
                        winner.options[i].disabled=false;
                    }else{
                        player.options[i].disabled=false;
                    }

                }
            }

            function analyseWinnerSelection(e) {
                for (i = 1; i < winner.options.length; i++) {
                    if(rival.value ==winner.options[i].value || player.value ==winner.options[i].value){
                        winner.options[i].disabled=false;
                    }else{
                        winner.options[i].disabled=true;
                    }

                    if(winner.value!= rival.value && winner.value!=player.value){
                        winner.value="";
                    }
                }
            }
        </script>

    </main>
    <%- include('../../fragments/footer.ejs') %>





