<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="../../../public/js/validationPersonForm.js"></script>
        <h2>Mecz - szczegóły</h2>

	<form class="form">
        <input type="hidden" name="id" value="<%= match.id %>">

        <label for="player">Zawodnik:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="player" id="player" placeholder="2-60 znaków" value="<%= match.player %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

	<label for="rival">Rywal:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="rival" id="rival" placeholder="2-60 znaków" value="<%= match.rival %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

    <label for="score1">Wynik zawodnika:</label>
        <input type="text" name="player's score" id="score1" placeholder="2-60 znaków" value="<%= match.scorePlayer %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

    <label for="score2">Wynik rywala:</label>
        <input type="text" name="rival's score" id="score2" placeholder="2-60 znaków" value="<%= match.scoreRival %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

	<label for="date">Data:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="date" id="date" placeholder="2-60 znaków" value="<%= match.date.toISOString().split('T')[0] %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

	<label for="court">Kort:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="court" id="court" placeholder="2-60 znaków" value="<%= match.court %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>


	<label for="round">Nr rundy:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="round" id="round" placeholder="1-7" value="<%= match.roundNumber %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
	<span></span>

	<label for="winner">Zwycięzca:</label>
        <input type="text" name="winner" id="winner" placeholder="2-60 znaków" value="<%= match.winner %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span></span>

	</form>

        <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/matches/edit/<%= match.id %>" class="button-add">Edytuj</a>
            </div>
        <% } %>


	  <h2>Lista zawodników</h2>
	<table id="zawodnicy" class="table-list">
    		<thead>
    		<tr>
        		<th>Imię i nazwisko</th>
           		<th>Kraj pochodzenia</th>
        		<th>Akcje</th>
    		</tr>
		</thead>
        <tbody>
        <% for (let pl of match.players) { %>
            <tr>
                <td><%= pl.player %></td>
                <td><%= pl.country %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/players/details/<%=pl.id%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/players/edit/<%=pl.id%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/players/delete/<%=pl.id%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
	</table>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
            <a class="form-button-cancel" href="/matches">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/matches">Powrót</a>
            <% } %>
        </div>

    </main>
    <%- include('../../fragments/footer.ejs') %>
