<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista meczy</h2>
	<table id="mecze" class="table-list">
    		<thead>
    		<tr>

        		<th>Zawodnik</th>
        		<th>Rywal</th>
        		<th>Data</th>
        		<th>Zwycięzca</th>
			<th>Akcje</th>
    		</tr>
		</thead>
		<tbody>
		<% for (let match of matches) { %>
			<tr>
				<td><%= match.player1FistName + ' ' +match.player1LastName %></td>
				<td><%= match.firstName + ' ' +match.lastName %></td>
				<td><%= match.date.toISOString().split('T')[0] %></td>
				<td><%= match.winnerFirstName + ' ' + match.winnerLastName%></td>

				<td>

					<ul class="list-actions" >
						<li>
							<a href="/matches/details/<%=match.id%>">
								<img border="0" alt="details" src="../images/details.png" width="20" height="20">
							</a>
						</li>
						<li>
							<a href="/matches/edit/<%=match.id%>">
								<img border="0" alt="details" src="../images/edit.png" width="20" height="20">
							</a>
						</li>

						<li>
							<a href="/matches/delete/<%=match.id%>">
								<img border="0" alt="details" src="../images/delete.png" width="20" height="20">
							</a>
						</li>
					</ul>
				</td>
			</tr>
		<% } %>
</tbody>
	</table>
<p><a class="button-add" href="/matches/add">Dodaj nowy mecz</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>



